
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
}

.dashboard-container {
  display: flex;
  width: 300px;
  height: 690px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.dashboard-card {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #ebecf0;
  border-radius: 2rem;

  .head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    span {
      position:absolute;
      top: 20px;
      right: auto;
      font-family: var(--fuente-davivienda);
      font-weight: 300;
      font-size: 0.8rem;
      color: white;

    }

  }

  .novedad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--fondo-davivienda);

    h1 {
      font-family: var(--fuente-davivienda);
      font-size: 0.9rem;
      font-weight: 900;
    }

    .tarjeta {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding-left: 12px;
      background-color: white;
      border-radius: 20px;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      gap: 12px;

      h2 {
        font-family: var(--fuente-davivienda);
        font-size: 1rem;
        font-weight: 900;
      }

      span {
        font-family: var(--fuente-davivienda);
        font-size: 0.8rem;
        font-weight: 100;
      }
    }
  }

  .body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  img {
    width: 100%;
  }
}


.asistencia {
  position: absolute;
  right: 0;
  bottom: 155px;
  width: 50px;
  cursor: pointer;
  img {
    width: 100%;
  }
}
