

<div class="dashboard-container">
    <div class="dashboard-card">
        <div class="head">
            <img src="assets/img/headDashboard.png" alt="superior">
            <span> Hola, {{nombre}}</span>
        </div>
        <div class="novedad">
            <h1>Novedades</h1>
            <div class="tarjeta">
                <h2> ¡No te quedes con la duda! </h2>
                <span> Daniel, se acerca la fecha del pago de la cuota 36 de tu
                    crédito de libre inversión. ¿Quieres ver una infografia
                    para comprender mejor lo que esto significa?
                </span>
            </div>
        </div>
        <div class="body">
            <img src="assets/img/bodyDashboard.png" alt="superior">
            <div class="asistencia" (click)="mostrarAsistente()">
                <img src="assets/img/asistencia.png">
            </div>
        </div>
    </div>
</div>