<div class="login-container">
    <div *ngIf="error" class="alert alert-danger">
        {{ error }}
    </div>
    <div class="login-card">
        <div class="head">
            <img src="assets/img/Inicio.png" alt="imagen de davivienda">
            <div class="atras" (click)="goBack()">
                <img src="assets/icons/back.svg" alt="icono-atras" />
                <h4>Atrás</h4>
            </div>
        </div>

        <div class="body">

            <div class="texto-box">
                <span>Ingrese su clave virtual</span>
                <div class="clave">
                    <input type="password" placeholder="Clave virtual" [ngModel]="clave"
                        (ngModelChange)="onClaveChange($event)" />
                </div>
            </div>

            <div class="olvido-clave">
                ¿Olvidó o bloqueó su clave virtual?
            </div>

            <div class="boton-inicio">
                <button class="inicio-sesion" [disabled]="!validDocumento" (click)="onSubmit()">
                    Iniciar sesión
                </button>
            </div>


            <div class="terminos">
                <h6>Términos y condiciones</h6>
            </div>


        </div>

    </div>
</div>