<div class="login-container">
    <div class="atras">
        <img src="" alt="icono-atras">
        <h4> Atras</h4>
    </div>
    <div class="tipo-documento">
        <img src="" alt="icono-cedula">
        <h4> Cédula de ciudadanía</h4>
        <img src="" alt="icono-flecha-abajo">
    </div>
    <div class="numero-documento"></div>
    <div class="olvido-clave">
        ¿Olvidó o bloqueó su clave virtual?
    </div>
    <div class="boton de inicio">
        <button class="incio sesion">Iniciar sesión</button>
    </div>
    <div class="QR">
        <img src="" alt="QR imagen">
        <div class="terminos"> 
            <h6>Términos y condiciones</h6>
            <h6>V.7.2.0</h6>
        </div>
    </div>

</div>