<div class="welcome-container">
    <div class="welcome-card">

        <div class="superior">
            <div class="logo">
                <img src="assets/img/logodav.png" alt="Logo" />
            </div>
            <h2>Nos alegra tenerle aquí</h2>
            <p>En esta app puede hacerlo todo sin salir de casa. ¿Ya es nuestro cliente?</p>
        </div>
        <div class="content">
            <button class="btn-filled" (click)="goToLogin()">Soy cliente</button>
            <button class="btn-outline" (click)="goToProducts()">Quiero productos</button>
        </div>
    </div>
</div>