/* You can add global styles to this file, and also import other style files */
:root {
  --rojo-davivienda: #e0111b;
  --rojo-davivienda-hover: #C50F17;
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('../public/assets/fonts/HelveticaNeueRoman.otf');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../public/assets/fonts/HelveticaNeueBold.otf');
}